<div class="ui link cards">
    <div class="card">
      <div class="image">
       <img src="https://cdn.glitch.com/44272c70-ebdc-49cd-b3b5-bb47c9c50fc5%2Funicorn.png?1541692817070" class="visible content">
    </div>
      
    <div class="content">
      
        <a class="header">Name: </a>
        <div class="meta">
            <span class="date">Artist: {{artist}}</span>
        </div>
    </div>
    <div class="extra content">
        <a>
            <i class="users icon"></i>
            Listen here
        </a>
    
    </div>  
</div>