

<table class="ui table">
  <thead>
    <tr>
      <th>Song</th>
      <th>Artist</th>
      <th>View Song</th>
      <th> Delete Song</th>
    </tr>
  </thead>
  <tbody>
    {{#each playlist.songs}}
      <tr>
        <td>
          {{songId}}
        </td>
        <td>
          {{artist}}
        </td>
        
                   <td>
                     
                     
                     

<script>
const playlist = require('./controllers/playlist.js');


$(function myFunction() {  
    
     $.get('/search-track', function(data) {
    // "Data" is the object we get from the API. See server.js for the function that returns it.
    console.group('%cResponse from /search-track', 'color: #F037A5; font-size: large');
    console.log(data);
    console.groupEnd();
    
    // Display the track name
    var trackName = $('<h3><a href="' + data.external_urls.spotify + '">' + data.name + '</a></h3>');
    var artistName = $('<h3>' + data.artists[0].name + '</h3>');
    trackName.appendTo('#search-track-container');
    artistName.appendTo('#search-track-container');
    
    // Display the album art
    var img = $('<img/>');
    img.attr('src', data.album.images[0].url);
    img.appendTo('#search-track-container');
  });

});
</script>
          <button onclick="myFunction()">
         <i class="music icon"></i>
          </botton>
        </td>
        
        <td>
          <a href="/playlist/{{../playlist.id}}/deletesong/{{id}}" class="ui icon button">
            <i class="icon trash"></i>
          </a>
        </td>

      </tr>
    {{/each}}
  </tbody>
</table>

    <div class="results">
        <ul id="results"></ul>
      </div>
