{{> menu id="dashboard"}}
<section class="ui segment">
  
  {{> listplaylists}}

</section>

  


   <section style="background-color:#F573A0;color:white;">
        <h2>Search for a Track</h2>
        <div id="search-track-container"></div>
      </section>