{{> menu id="dashboard"}}
<section class="ui segment">
  
  {{> listplaylists}}

</section>

<form>
        <input id="query" required type="text" maxlength="100" placeholder="Search Song/Artist">
        
        <button type="submit"><i class="pink search icon"></i></button>
</form>
      <div class="results">
        <ul id="results"></ul>
      </div>


   <section style="background-color:#F573A0;color:white;">
        <h2>Search for a Track</h2>
        <div id="search-track-container"></div>
      </section>