

<div class="ui card">
  <div class="image">
    <img src={{body.coverart}}>
  </div>
  <div class="content">
    <a class="header">{{body.name}}</a>
    <div class="description">
    {{body.artist}}
    </div>
  </div>
  <div class="extra content">
    <a>
      <i class="music icon"></i>
      Listen Here
    </a>
  </div>
</div>

    <div class="results">
        <ul id="results"></ul>
      </div>